
.portfolioPageWrap {
    padding: 0;
    margin: 0;
}

.portfolioPageWrap .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    background-color: #fff;
    /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3); */
}

.portfolioPageWrap .headerWrap .logoWrap {
    width: 8.1307627829%;
    text-align: center;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: Poppins;
}

.portfolioPageWrap .headerWrap .logoWrap .logo {
    font-size: 1.7rem;
}

.portfolioPageWrap .headerWrap .logoWrap .name {
    font-size: 1rem;
}

.portfolioPageWrap .headerWrap .navBarWrap {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolioPageWrap .headerWrap .navBarWrap .navBar {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    font-family: DM Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    color: #666666;
}
.portfolioPageWrap .headerWrap .navBarWrap .navBar a:hover{
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
}
.portfolioPageWrap .headerWrap .navBarWrap .socialLinkWrap {
    width: 11rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #666;
}

.portfolioPageWrap .headerWrap .socialLinkWrap a {
    font-size: 2rem;
    display: inline-block;
    color: #666;
    background-color: #fff;
    text-align: center;
    border-radius: 100%;
}

.portfolioPageWrap .headerWrap .socialLinkWrap a:active,
.portfolioPageWrap .headerWrap .socialLinkWrap a:focus,
.portfolioPageWrap .headerWrap .socialLinkWrap a:hover {
    color: #fff;
    background-color: #0685da;
}

.portfolioPageWrap .headerWrap .socialLinkWrap a.github:hover {
    background-color: #0e0e0e;
}

.portfolioPageWrap .headerWrap .socialLinkWrap a.twitter:hover {
    background-color: #00aced;
}

.portfolioPageWrap .headerWrap .socialLinkWrap a.linkedin:hover {
    background-color: #007bb6;
}

.portfolioPageWrap .homeWrap {
    margin-top: 20rem;
    margin-bottom: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.portfolioPageWrap .homeWrap .introWrap {
    font-family: var(--font-poppins);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0rem;
}

.portfolioPageWrap .homeWrap .introWrap .wave {
    animation-name: waveAnimation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes waveAnimation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.portfolioPageWrap .homeWrap .introWrap .developerName {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolioPageWrap .homeWrap .profileImageWrap{
    width: 15rem;
}
.portfolioPageWrap .homeWrap .profileImageWrap .imageWrap{
    border-radius: 50%;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.3);
    width: -webkit-fill-available;
}

.portfolioPageWrap .techStackTitleWrap {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    line-height: 3.5rem;
    margin-bottom: 6rem;
}
.portfolioPageWrap .techStackTitleWrap .title {
    color: #42446E;
    font-size: 3rem;
    font-weight: 700;
}

.portfolioPageWrap .techStackTitleWrap .description{
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
}